[Unit]
Description=Deutsches Tastaturlayout in Hyprlands Konfiguration eintragen
Before=greetd.service display-manager.service graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/set-keyboard-layout de

[Install]
WantedBy=graphical.target
